{% extends 'base.html.twig' %}

{% block title %}
  Edit Evento
{% endblock %}

{% block body %}
  <h1>Edit Evento</h1>

  {{ include('eventos/_form.html.twig', { button_label: 'Update' }) }}

  <a href="{{ path('borae_eventos_lista') }}">back to list</a>

  {{ include('eventos/_delete_form.html.twig') }}
{% endblock %}
