<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Boraê!
      {% endblock %}
    </title>
    {% block stylesheets %}
      {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ vite_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <img src="{{ asset('images/logo-01.webp') }}" alt="Logo" style="width: 100px; height: auto; margin: 20px;" />
    <button class="btn btn-primary" onclick="location.href='{{ path('app_index') }}'">Início</button>
    {% block body %}

    {% endblock %}
  </body>
</html>
